<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>;
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


</head>
<body>
    
    <h1>Información desde el back:</h1>
    <a href="{% url 'get_error_logs' %}">{% url 'get_error_logs' %}</a>


    <table id="errorTable" class="display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Mensaje</th>
                <th>Fecha</th>
            </tr>
        </thead>
    </table>


    <script>
        $(document).ready(function() {
            $('#errorTable').DataTable({
                "ajax": "{% url 'get_error_logs' %}",
                "columns": [
                    { "data": "id" },
                    { "data": "codigo" },
                    { "data": "mensaje" },
                    { "data": "fecha" }
                ]
            });
        });
    </script>
</body>
</html>